.img-circle {
      border-radius: 50%;
}
img:hover {
      cursor: pointer;
}
.navbar {
      z-index: 1;
}
.modal-header {
      background-color: rebeccapurple;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  a:hover {
      text-decoration-line: none;
      text-shadow: white 0px 1px 10px;
}