
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: whitesmoke;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}
.avatar{
  width: 180px;
  height: 220px;
  border-radius: 100%;
  position: absolute;
  top: 100px;
  left: 5%;
}
.card-header{
  text-align: center;
  font-size: 16px;

}
.profile-userpic{
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  image-align:center;
  text-align: center;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
  font-size:150%;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
  text-align: center;
}

.profile-usertitle-email {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: px;
  font-weight: 600;
  margin-bottom: 15px;
text-align-all: center;

}
.profile-usertitle-email {
  text-align: center;
  font-size: 16px;
}
.profile-userbuttons {
  text-align: center;
  margin-bottom: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}
.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.card {
  position: absolute;
  top: 65%;
  width: 50%;
  left: 25%;
}
.thumbnail {
  position: absolute;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
@media screen and (max-width:768px) {
  img {
    width:100%;
  }
  .container-fluid {
    max-width: 1200px;
    /*width: 100%;*/
  }

  .avatar {
    height: 25%;
  }
.card { width: 100%; left: 0px;
}
  /*float:left;*/
    /*margin:0;*/
  /*}*/
  .img-responsive {
    max-width: 90%; /* or to whatever you want here */
    max-height: auto; /* or to whatever you want here */
  }

}