<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:By="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <title>All Participants - Promozonic</title>
      <style>
            .container-fluid {
                  color: white;
                  margin-top: 100px;
            }

            .bg {
                  background-color: black;
                  z-index: -1;
                  opacity: 0.8;
                  position: fixed;
                  width: 100%;
                  height: 100%;
            }
            body {
                  background-image: url('/static/uploads/<%= merchantDetails.img %>');
            }
            input {
                padding: 10px 20px;
                margin: 20px 20px;
                width: 80%;
            }
      </style>
</head>

<body class="header-fixed header-fixed-space">
      <div class="bg"></div>
      <% include header.html %>
            <div class="wrapper">

                  <div class="container-fluid">
                                    <div class="row">
                                          <div class="col-xs-12 col-sm-12 col-md-8">
                                                <br>
                                                <div class="row d-block w-100">
                                                      <h1 class="text-center">Participants of your contests (<%= userDetails.length %>)</h3>
                                                </div><hr style="margin-left: 0; background-color: violet"><br>
                                                <div class="row">
                                                    <h4><i><span class="fa fa-search"style="margin-left: 18px;margin-right: 10px; color: #e60a6f;"></span></i></h4>
                                                    <input type="text" placeholder="Search participants by event" class="srch">
                                                        <table class="table table-hover table-responsive"style="margin-left: 50px;">
                                                            <thead class="thead-dark" id="table-head" >
                                                                <th scope="col">#</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Email</th>
                                                                <th scope="col">Mobile</th>
                                                                <th scope="col">Event</th>
                                                            </thead>
                                                            <tbody>
                                                                <% var j=1; for(var i in userDetails) { %>
                                                                        <tr class="<%= (userDetails[i].title).toLowerCase() %> link">
                                                                            <th scope="row">
                                                                                <%= j %>
                                                                            </th>
                                                                            <td><a href="/app/profile/<%= userDetails[i].id %>" style="color: white;">
                                                                                <%= userDetails[i].first_name %>
                                                                                    <%= userDetails[i].last_name %></a>
                                                                            </td>
                                                                            <td>
                                                                                <%= userDetails[i].email %>
                                                                            </td>
                                                                            <td>
                                                                                <%= userDetails[i].mobile_no %>
                                                                            </td>
                                                                            <td>
                                                                                <%= userDetails[i].title %>
                                                                            </td>
                                                                        </tr>
                                                                    <% j++; } %>
                                                            </tbody>
                                                        </table>
                                                </div>
                                                <br>
                                          </div>
                                                <div class="col-xs-12 col-sm-12 col-md-4"><br>
                                                        <div class="container">
                                                                <div class="row">
                                                                      <button type="button" class="btn btn-light btn-lg btn-block" data-toggle="modal" data-target="#eventType">
                                                                                              Add New Contest
                                                                      </button>
                                                                </div>
                                                                <br>
                                                                <div class="row">
                                                                      <button class="btn btn-light btn-block btn-lg" onclick="window.location='/app/dashboard/<%= vendor_id %>'">
                                                                            Go to Dashboard
                                                                      </button>
                                                                </div>
                                                          </div>
                                                </div>
                                    </div>
                  </div>
                  <br><br>
                  <% include footer.html %>
            </div>
            

            <% if (showFullDetails === true) { %>
                  <!-- All Modals -->

                  <!-- Event Type Modal -->
                  <div class="modal fade" id="eventType" tabindex="-1" role="dialog" aria-labelledby="eventTypeList" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                              <div class="modal-content">
                                    <div class="modal-header">
                                          <h4 class="modal-title" id="modelTitleId">Choose a type of contest</h4>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                          </button>
                                    </div>
                                    <div class="modal-body">
                                          <div class="container" style="padding: 0px 40px;">
                                                <form action="/app/newContest" method="POST">
                                                      <div class="form-group">
                                                            <input type="number" name="vendor_id" value="<%= vendor_id %>" readonly hidden>
                                                            <% for (var i in eventTypeList) { %>
                                                                  <div class="radio">
                                                                        <label class="text-primary text-capitalize">
                                                                              <input type="radio" class="form-check-input" name="event_type" value="<%= eventTypeList[i].id %>" checked>
                                                                              <%= eventTypeList[i].name %>
                                                                        </label>
                                                                  </div>
                                                                  <% } %>
                                                                        <br>
                                                                        <button type="submit" class="btn btn-success btn-block">Create New Contest</button>
                                                      </div>
                                                </form>
                                                </div>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <% } %>

            <% include commonFooterScriptElements.html %>
            <script>
                    $('.srch').on('keyup', function () {
                        if ($(this).val() !== '') {
                            $('.link').hide();
                            $('td').css({color:'white'})
                            var filter = "." + ($(this).val()).toLowerCase();
                        //     $(filterTerm).show();
                        //     $('#table-head').show();
                        var filterTerm=$(this).val()
                        $("tr:contains("+filterTerm+")").show(filter);
                        $("td:contains("+filterTerm+")").css({color:'orange'})
                        $("a:contains("+filterTerm+")").css({color:'orange'})
                        }
                        else {
                            $('tr').show();
                            $('td').css({color:'white'})
                            $('a').css({color:'white'})
                        }
                    });
                </script>
</body>

</html>