<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>   

    <script src="/static/scripts/lib/signup.js"></script>
    <script>
            $(function(){
                  $(".wrapper").fadeIn(1000);
                  $(".header").fadeIn(500);
                $(".getload").fadeOut(500);
            });
      </script>
<!-- script for LOGIN -->
<script>
    $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
                $('#s-password').attr('type','text');
            }
            else if($(this).prop("checked") == false){
                $('#s-password').attr('type','password');
            }
        });
    $('#dont-have-account').click(function(){
        $('#signup-btn').trigger('click');
    });
    $('#already-registered').click(function(){
        $('#btn-login').trigger('click');
    });
</script>
<script>
    // When the user scrolls down 800px from the top of the document, show the button
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50)
            $('#top-btn').show();
        else $('#top-btn').hide();
    });
    // When the user clicks on the button, scroll to the top of the document
    $('#top-btn').click(function(){
        $('html,body').animate({ scrollTop: 0 }, 500,"linear");
      return false; 
    });     
    $(".go-to-bottom").click(function(){
        $('html,body').animate({ scrollTop: $(document).height() }, 500,"linear");
      return false; 
    });
</script>
