<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../static/styles/core/common_styles.css">
    <style>
            tr.link {cursor:pointer;}
            .img-circle {
      border-radius: 50%;
}
img:hover {
      cursor: pointer;
}
.navbar {
      z-index: 1;
}
.modal-header {
      background-color: rebeccapurple;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  }
  a:hover {
      text-decoration-line: none;
      text-shadow: white 0px 1px 10px;
}
     </style>
</head>

<body class="header-fixed header-fixed-space">
<div class="wrapper homePage">

    <% include header.html %>
    <table class="table table-hover">
            <thead class="thead-dark">
                    <th>Event</th>
                    <th>Sponsored By</th>
                    <th>Total Prizes</th>
                    <th>Starting Date</th>
                    <th>Ending Date</th>
            </thead>
            <tbody>
    <% for(var i in contest_list) { %>
              <tr class="link">
                    <td>
                    <% if(contest_list[i].event_type_id===1) { %>
                        <a href="/app/<%=contest_list[i].slug%>/contest/<%=contest_list[i].id%>">
                              <%= contest_list[i].title %></a>
                    <% } else if(contest_list[i].event_type_id===6) { %>
                        <a href="/app/<%=contest_list[i].slug%>/spinwheel/<%=contest_list[i].id%>">
                              <%= contest_list[i].title %></a>
                    <% } %>
                  </td>
                    <td><a href="/app/dashboard/<%=contest_list[i].vid%>"><%= contest_list[i].name %></a></td>
                    <td><%= contest_list[i].total_prizes %></td>
                    <td><%= utils.formatDate(contest_list[i].start_date) %></td>
                    <td><%= utils.formatDate(contest_list[i].end_date) %></td>
              </tr>
        <% } %>
            </tbody>
          </table>
    <br/><br/><br/>
    <% include footer.html %>
</div>
<% include commonFooterScriptElements.html %>
</body>
</html>
