<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:By="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <title><%= merchantDetails.name %> - Promozonic</title>
      <style>
            .bg {
                  z-index: -1;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 540px;
                  background: url('/static/uploads/<%= merchantDetails.img %>') no-repeat center;
                  background-size: cover;
                  filter: brightness(40%);
            }
            .contents {
                  max-width: 1080px;
            }
            .card-top {
                  color: white;
                  padding: 20px;
            }
            .card {
                  box-shadow: grey 1px 1px 5px;
                  height: 200px;
                  padding: 10px;
                  align-items: center;
                  padding-top: 60px;
                  font-size: 24px;
                  margin-bottom: 30px;
            }
            
            .show-btn {
                  text-align: right;
                  margin-top: 20px;
                  margin-bottom: 30px;
            }
            .fa {
                  display: block;
                  width: 40px;
                  text-align: center;
            }
            #top-btn .fa {
                  width: 20px;
            }
            @media screen and (max-width:768px) {
                  .bg {
                        height: 860px;
                  }
                  .show-btn {
                        text-align: center !important;
                  }
                  #top-btn {
                        display: none;
                  }
            }
      </style>
</head>

<body>
<% include header.html %>
      <div class="bg"></div>
      <div class="wrapper">

                  <div class="container-fluid contents">
                        <br><br><br><br>
                              <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12"><br>
                                          <img src="/static/uploads/<%= merchantDetails.img %>" alt="Shop Image" class="img-thumbnail" data-toggle="modal" data-target="#uploadPhoto">
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                          <div class="card-top mx-auto">
                                                <h3 class="text-capitalize display-2">
                                                      <%= merchantDetails.name %>
                                                </h3>
                                                <br><h3>Vendor of
                                               <strong><%= merchantDetails.domain %></strong>
                                                <% if (showFullDetails === true) { %>
                                                (GSTN:
                                                <%= merchantDetails.gstn %>)
                                                <br><br><i class="fa fa-envelope"></i> <%= merchantDetails.email %><br>
                                                <i class="fa fa-mobile"></i> <%= merchantDetails.mobile_no %><% } else { %>
                                                      <br><br><br><br><% } %>
                                          </h3><br>
                                                <address>
                                                      <i class="fa fa-address-card"></i> <em>
                                                      <%= merchantDetails.shopNo %>,
                                                      <%= merchantDetails.street %>,
                                                      <%= merchantDetails.locality %>
                                                      <br>
                                                      <span style="font-size: x-large" class="text-capitalize">
                                                            <strong>
                                                                  <%= merchantDetails.city %><br>
                                                                    </strong>
                                                      </span>
                                                </em>
                                                </address>
                                          </div>
                                    </div>
                                    <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
                                          <!--<br>-->
                                          <!--<div class="container">-->
                                                <!--<div class="row">-->
                                                      <!--<button  >-->
                                                            <!--Add New Contest-->
                                                      <!--</button>-->
                                                <!--</div>-->
                                                <!--<br>-->
                                                <!--<div class="row">-->
                                                      <!--<button class="btn btn-light btn-block" onclick="window.location='/app/dashboard/<%= vendor_id %>/allparticipants'">-->
                                                            <!--Show All Participants-->
                                                      <!--</button>-->
                                                <!--</div>-->
                                          <!--</div>-->
                                    <!--</div>-->
                              </div>
                                    <div class="row">
                                          <div class="container-fluid mt-5">
                                                <div class="row">
                                                      <div class="col-md-6 col-sm-12 col-xs-12">
                                                            <span class="text-center display-4 lead">ALL CONTESTS</span><br>
                                                            <p class="lead">
                                                                  <% if(contestList.length !== 0) { %>
                                                                  Total No. of Contests:
                                                                  <%= contestList.length %>
                                                                  <% } else { %>
                                                                  There are no contests yet.
                                                                  <% } %>
                                                            </p>
                                                      </div>
                                                      <div class="col-md-6 col-sm-12 col-xs-12 show-btn">
                                                            <% if(showFullDetails === true) { %>
                                                            <a class="btn btn-light" href="/app/dashboard/<%= merchantDetails.id %>/allparticipants">Show All Participants</a>
                                                            <% } %>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                            <% if(showFullDetails === true) { %>
                                                      <div class="col-md-4 col-sm-6 col-xs-12">
                                                            <div type="button" class="btn-light card"
                                                                 style="background-color:#e60a6f; color:white; padding-top: 0;"
                                                                 data-toggle="modal" data-target="#eventType">
                                                                  <span style="font-size : 100px;">+</span><span>Add New Contest</span>
                                                            </div>
                                                      </div>
                                                      <% } %>
                                                      <% for(var i=0;i<contestList.length;i++){ %>
                                                      <div class="col-md-4 col-sm-6 col-xs-12">
                                                            <% if(contestList[i].event_type_id === 1) { %>
                                                            <a href="/app/<%= contestList[i].slug %>/contest/<%= contestList[i].id %>" class="text-center">
                                                                  <% } else if(contestList[i].event_type_id === 6) { %>
                                                                  <a href="/app/<%= contestList[i].slug %>/spinwheel/<%= contestList[i].id %>" class="text-center">
                                                                        <% } %>
                                                                        <div class="card">
                                                                              <%= contestList[i].title %>
                                                                              <% if ((contestList[i].start_date <= Date.now()) && (contestList[i].end_date > Date.now())) { %>
                                                                              <span class="text-danger">
                                                                                                <em>
                                                                                                      <strong>LIVE</strong>
                                                                                                </em>
                                                                                          </span>
                                                                              <% } %>
                                                                        </div>
                                                                  </a>
                                                      </div>
                                                      <% } %>
                                                </div>
                                                <br>
                                          </div>
                                    </div>
                  </div>
                  <br><br>
                  <% include footer.html %>
      </div>


      <% if (showFullDetails === true) { %>
            <!-- All Modals -->

            <!-- Event Type Modal -->
            <div class="modal fade" id="eventType" tabindex="-1" role="dialog" aria-labelledby="eventTypeList" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                              <div class="modal-header">
                                    <h4 class="modal-title" id="modelTitleId">Choose a type of contest</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                              <div class="modal-body">
                                    <div class="container" style="padding: 0px 40px;">
                                          <form action="/app/newContest" method="POST">
                                                <div class="form-group">
                                                      <input type="number" name="vendor_id" value="<%= vendor_id %>" readonly hidden>
                                                      <% for (var i in eventTypeList) { %>
                                                            <div class="radio">
                                                                  <label class="text-primary text-capitalize">
                                                                        <input type="radio" class="form-check-input" name="event_type" value="<%= eventTypeList[i].id %>" checked>
                                                                        <%= eventTypeList[i].name %>
                                                                  </label>
                                                            </div>
                                                            <% } %>
                                                                  <br>
                                                                  <button type="submit" class="btn btn-light ">Create New Contest</button>
                                                </div>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

            <!-- Upload Photo -->
            <div class="modal fade" id="uploadPhoto" tabindex="-1" role="dialog" aria-labelledby="uploadPhotoButton" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                              <div class="modal-header">
                                    <h4 class="modal-title" id="modelTitleId">Change Photo of your Shop</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                              <div class="modal-body">
                                    <img src="/static/uploads/<%= merchantDetails.img %>" width="100%">
                              </div>
                              <div class="modal-footer">
                                    <form action="/app/dashboard/upload" method="POST" enctype="multipart/form-data">
                                          <div class="form-group text-danger">
                                                <input type="number" name="id" value="<%= vendor_id %>" id="vendorId" readonly hidden>
                                                <input type="file" name="image" id="vendorImg">
                                                <button type="submit" class="btn btn-primary float-right">UPLOAD</button>
                                    </form>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <% } %>

                        <% include commonFooterScriptElements.html %>

</body>

</html>