<!DOCTYPE html>
<html>
<body>
    <h1 style="padding: 100px;">You have successfully ended the contest!<br><small>Redirecting to Contest Page...</small></h1>
	<div class="event_type_id" typeid="<%= event_type_id.event_type_id %>"></div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		
			var event_type_id=parseInt($('.event_type_id').attr('typeid'));
			console.log(event_type_id);
			if (event_type_id===1)
			{
				setTimeout(function(){location.href='/app/<%= slug %>/contest/<%= event_id %>'},1500);
			}
			else if(event_type_id===6)
			{
				setTimeout(function(){location.href='/app/<%= slug %>/spinwheel/<%= event_id %>'},1500);
			}
			else
			{
				
			}
		
	</script>
</body>
</html>