<button id="top-btn" title="Go to top"><i class="fa fa-arrow-up"></i></button>
<div class="footer" id="footer">
    <div class="container-fluid" style="background: linear-gradient(to right, purple, indigo, purple);">
            <div class="row justify-content-md-center" style="margin: 0; padding: 50px; color: gainsboro">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="row">
                            <a href="/app/home">
                            <img src="/static/images/logo.png" alt="Logo" width="180" height="60">
                            </a>
                        </div>
                        <div class="row">
                            <i class="fab fa-facebook" style="font-size: 24px; padding-right: 28px; padding-top: 40px;"></i>
                            <i class="fab fa-linkedin" style="font-size: 24px; padding-right: 28px; padding-top: 40px;"></i>
                            <i class="fab fa-twitter" style="font-size: 24px; padding-right: 28px; padding-top: 40px;"></i>
                            <i class="fab fa-youtube" style="font-size: 24px; padding-right: 28px; padding-top: 40px;"></i>
                            <!-- <i class="fab fa-instagram" style="font-size: 24px; padding-right: 28px; padding-top: 40px;"></i> -->
                        </div>
                        <br>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="row"><h3>Our Team</h3></div>
                            <div class="row"><a href="https://www.linkedin.com/in/piyush-maheshwari-808649159/" class="text-light" target="_blank">Piyush Maheshwari</a></div>
                            <div class="row"><a href="https://www.linkedin.com/in/jharna-agrawal-76809414b/" class="text-light" target="_blank">Jharna Agrawal</a></div>
                            <div class="row"><a href="https://www.linkedin.com/in/parth-pathak-0b1481138/" class="text-light" target="_blank">Parth Pathak</a></div>
                            <div class="row"><a href="https://www.linkedin.com/in/rahul-dixit-47084a126/" class="text-light" target="_blank">Rahul Dixit</a></div>
                            <div class="row"><a href="https://www.linkedin.com/in/hardik-sharma-813624155/" class="text-light" target="_blank">Hardik Sharma</a></div>
                            <div class="row"><a href="https://www.linkedin.com/in/gaurang-sharma-9788aa157/" class="text-light" target="_blank">Gaurang Sharma</a></div><br>
                        </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="row"><h3>Contact Us</h3></div>
                        <div class="row"><i class="fa fa-envelope" style="padding: 5px;"></i>promozonic@gmail.com</div>
                        <div class="row">
                            <div class="copyright">
                                <div class="copyright-space">
                                    <br><br>2018 <sup><i class="far fa-copyright"></i></sup> Promozonic.in
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>