<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<!-- CSS Styles -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">


<div class="getload"></div>

<style>.wrapper, .header {
        display: none;
  }
    .getload{
            position: absolute;
            left: 45%;
            top: 40%;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid indigo;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
.img-circle {
      border-radius: 50%;
}
img:hover {
      cursor: pointer;
      filter: brightness(75%);
      transition: all ease 0.3s;
}
body {
                  font-family: 'Lora', serif;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  overflow-x: hidden;
            }
            .wrapper {
            position: absolute;
            top: 0;
            width: 100%;
      }
      .navbar {
            z-index: 1;
            max-width: 1120px;
            margin: 0 auto;
            box-shadow: white 0px 0.5px;
            padding-right: 0;
      }
      .navbar-nav .nav-link {
            color: aliceblue !important;
            opacity: 0.8 !important;
            margin-right: 18px;
      }
      .nav-link:hover {
            opacity: 1 !important;
      }
      @media screen and (max-width:575px) {
            .navbar{
                  background-color: indigo;
                  text-align: center;
            }
            #login-button {
                  width: 300px !important;
                  color: white !important;
                  background: none;
            }
            #testimonialCarousel {
                display: none;
            }
      }
      .homeNav {
            padding-bottom: 20px;
            max-width: 960px;
      }
      .homeNav .nav-link {
            font-size: large;
            font-weight: bold;
      }
      .homeNav .nav-item {
            background-color: white;
            border: 2px solid indigo;
      }
      /* .homeNav .tab-pane {
      } */
      .event-list-item {
          padding-top: 40px;
      }
      .homeNav .nav-item .active {
            color: white !important;
            background-color: indigo !important;
      }
      .carousel {
            width: 100%;
            color: white;
      }
      #homeCarousel .carousel-item {
            object-fit:cover;
            height:640px !important;
            width:100%;
            background: url(/static/images/homeBackground.jpg) no-repeat fixed center;
            background-size: cover;
            font-size: x-large;
            font-family: 'Playfair Display', serif;
            /* background: linear-gradient(to bottom right,indigo, purple); */
      }
      #testimonialCarousel .carousel-item {
            object-fit:cover;
            height:450px !important;
            width: 100%;
            background: url(/static/images/bottom.jpg) no-repeat center;
            background-size: cover;
            font-size: xx-large;
            font-family: 'Playfair Display', serif;
      }
      /* #login-button {
            width: 100px;
            font-weight: bold;
            color: purple;
      } */
      .btn {
            padding: 0 30px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid rgba(255,255,255,.25);
    cursor: pointer;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
            font-weight: bold;
            background-color: #e60a6f;
            color: white;
      }
      hr {
            background-color: indigo;
            height: 1px;
            margin-bottom: 20px;
            margin-top: 20px;
            border: 0px;
      }
      .jumbotron {
            background-color: rgb(247, 227, 252);
            font-family: 'Patrick Hand SC', cursive;
            font-size: 24px;
      }
      a {
          color: indigo;
      }
      #top-btn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
width: 56px;
border: none;
outline: none;
background-color: blueviolet;
color: white;
font-weight: bold;
cursor: pointer;
padding: 15px;
border-radius: 50%;
box-shadow: black 1px 1px 10px;
}
</style>

<div class="header">
        <nav class="navbar navbar-expand-sm navbar-dark">
                <a class="navbar-brand" href="/app/home">
                      <img src="/static/images/logo.png" alt="Logo" width="180" height="60">
                </a>
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                  <a class="nav-link" href="/app/home">Home</a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link go-to-bottom" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link  go-to-bottom" href="#">Contact Us</a>
                            </li>
                      </ul>
                      <% if(!currentUser){ %>
                        <button type="button" class="btn btn-light btn-sm my-2 my-sm-0" data-toggle="modal" data-target="#loginModal" style="margin-right: 1%">Sign In
                        </button>
                        <% } else { %>
                          <div class="dropdown">
                              <button class="btn btn-light btn-sm my-2 my-sm-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <%= currentUser.first_name %>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/app/profile/<%= currentUser.id %>">Profile</a>
                              <% var j=1 %>
                              <% for(var i in currentUser.vid){ %>
                                  <a class="dropdown-item" href="/app/dashboard/<%= currentUser.vid[i] %>">Dashboard <%= j++ %></a>
                              <% } %>
                              <a class="dropdown-item btn-registershop" href="#" id="btn-registershop" data-toggle="modal" data-target="#registershopModal">Register Shop
                              </a>
                              <a class="dropdown-item" href="/app/logout">Logout</a>
                              </div>
                          </div>
                        <% } %>
                </div>
          </nav>
</div>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid" >
                     <!-- Nav tabs -->
                                        <ul class="nav nav-tabs nav-justified" role="tablist">
                                          <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#login" id="btn-login">Sign In</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link signup-btn" data-toggle="tab" href="#signup" id="signup-btn">Sign Up</a>
                                          </li>
                                        </ul>
                                        <div class="tab-content">
                                          <div id="login" class="container tab-pane active"><br>
                                            <form id="login-form">
                                              <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input type="email" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter email" id="username" required>
                                            <small id="emailHelp" class="form-text text-danger"> </small>
                                        </div>
                                        <div class="form-group" id="password-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
                                            <small id="passwordHelp" class="form-text text-danger"> </small>
                                        </div>
                                        <button type="submit" id="login-btn" class="btn btn-block">Sign In</button>
                                        </form><br>
                                        Dont't have an account? <a id="dont-have-account" href="#">Signup</a><br>
                                          </div>
                                          <div id="signup" class="container tab-pane"><br>
                                            <form id="signup-form">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="first_name">First Name</label>
                                                            <input name="first_name" class="form-control" id="first_name" placeholder="First Name" required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="last_name">Last Name</label>
                                                            <input name="last_name" class="form-control" id="last_name" placeholder="Last Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6 ">
                                                            <label for="email">Email</label>
                                                            <input name="email" class="form-control" id="email" placeholder="Email"required>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                        <label for="mobile_no">Mobile</label>
                                                        <input name="mobile_no" class="form-control" id="mobile_no" placeholder="Mobile Number"required>
                                                    </div>
                                                  </div>
        
                                                    <div class="form-group col-md-13">
                                                        <label for="address">Address</label>
                                                        <input name="address" class="form-control" id="address" placeholder="Address"required>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="state">State</label>
                                                            <select id="state" class="form-control" required>
                                                                <option selected="selected">Choose...</option>
                                                            </select>
                                                        </div>
        
                                                            <div class="form-group col-md-6">
                                                                <label for="city">City</label>
                                                                <select id="city" class="form-control">
                                                                    <option selected="selected">Choose...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                        <label for="password">Password</label>
                                                                        <input name="password" type="password" class="form-control" id="s-password" placeholder="Password" required>
                                                                        <input type="checkbox" id="show-password">Show Password
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label for="password">Confirm Password</label>
                                                                        <input name="cpassword" type="password" class="form-control" id="cpassword" placeholder="Confirm Password" required>
                                                                        <small id="passwordHelp2" class="form-text text-danger"></small>
                                                                    </div>
                                                        </div>
                                            <button type="submit" class="btn btn-block">Sign Up</button>
                                        </form>
                                        <br>Already Registered? <a id="already-registered" href="#">Login</a><br>
                                          </div>
                                          </div>
                </div>
          </div>
        </div>
      </div>
      </div>


<% if(currentUser) { %>
    <div class="container">
        <div class="modal fade" id="registershopModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="height: inherit">
                        <h2 class="modal-title" id="shopregisterTitle"><b>Register Your Shop</b></h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="shopregister-form" >
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Shop Name</label>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Enter the Shop Name" required>
                                </div>
                                <div class="form-group col-md-6 ">
                                        <label for="gstn">GSTN</label>
                                        <input name="gstn" class="form-control" id="gstn" placeholder="Enter GSTN" required>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="shopNo">Shop No.</label>
                                    <input name="shopNo" type="text" class="form-control" id="shopNo" placeholder="Enter Shop No" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="street">Street </label>
                                    <input name="street" class="form-control" id="street" placeholder="Enter Street" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="Address">Address</label>
                                    <input name="Address" class="form-control" id="a-Address" placeholder="Enter Address" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="reg-state">State</label>
                                    <select id="reg-state" class="form-control" required>
                                        <option selected="selected">Choose...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="reg-city">City</label>
                                    <select id="reg-city" class="form-control">
                                        <option selected="selected">Choose...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                        <label for="firm-domain">Business Domain</label>
                                        <select id="firm-domain" class="form-control" required>
                                            <option selected="selected">Choose...</option>
                                        </select>  
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="shopregister-btn" style="color: white;">------------------</label>
                                        <button type="submit" id="shopregister-btn"  style="margin-left:auto;margin-right:auto;display:block;" class="btn btn-light">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
<% } %>