<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <title>Promozonic</title>
    <style>
          @media screen and (max-width:600px) {
                .img {
                      display:none;
                }
          }
          .carousel-btn {
                background-color: white !important;
                color: Indigo !important;
                padding-left: 50px !important;
                padding-right: 50px !important;
                font-size: 20px !important;
          }
          .practiceButtonp
          {
            display: inline-block;
            background-color: indigo;
            color: white;
            padding-left: 10px;
            padding-right: 10px;;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.4), 0 6px 20px 0 rgba(0,0,0,0);
            margin-bottom: 2%;
            margin-right: 3px
          }
          .practiceButtons
          {
            display: inline-block;
            background-color: royalblue;
            color: white;
            padding-left: 10px;
            padding-right: 10px;;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.4), 0 6px 20px 0 rgba(0,0,0,0);
            margin-bottom: 2%;
            margin-right: 3px
          }
          .fa-money-bill-alt{
                color: #e60a6f;
          }
      </style>
  </head>
  <body>
            <% include header.html %>
                  <div class="wrapper">
                              <div class="container-fluid">
                                          <div class="row">
                                                <div id="homeCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                                                      <!-- <ol class="carousel-indicators">
                                                            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                                                            <li data-target="#homeCarousel" data-slide-to="1"></li>
                                                            <li data-target="#homeCarousel" data-slide-to="2"></li>
                                                      </ol> -->
                                                      <div class="carousel-inner" role="listbox">
                                                            <div class="carousel-item">
                                                                  <div class="container text-center">
                                                                        <div class="row">
                                                                              <div class="col-md-6 col-sm-12 col-xs-12 img">
                                                                                    <img src="/static/images/front2.png" width="60%" style="margin-top: 200px;">
                                                                              </div>
                                                                              <div class="col-md-6 col-sm-12 col-xs-12">
                                                                                          <br><br><br><br><br><h1>Participate in Events</h3><p>Looking for exciting prizes<br>and discounts around you?<br>Gear up and enter our <strong>photo contests</strong><br>or explore our <strong>Spinwheel</strong>.
                                                                                                <br><br>
                                                                                                <% if(currentUser) { %>
                                                                                                <a class="btn btn-light carousel-btn" href="#event-list"><% } else { %>
                                                                                                <a class="btn btn-light carousel-btn" data-toggle="modal" data-target="#loginModal"><% } %>Participate Now</a></p>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="carousel-item active">
                                                                  <div class="d-block w-100 text-center my-auto" style="font-size: 40px;">
                                                                        <br><br><br><br><p>Create events<br>to promote your bussiness.
                                                                              <br> <% if(currentUser) { %><button class="btn btn-light"  data-toggle="modal" data-target="#registershopModal">
                                                                                    <% } else { %>
                                                                              <button class="btn btn-light"  data-toggle="modal" data-target="#loginModal"><% } %>Register Your Shop</button></p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                      </a>
                                                      <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                      </a>
                                                </div>
                                          </div>
                                          <div class="row" id="event-list">
                                                <h1 class="mx-auto mb-0 pb-0 mt-2 display-4 text-center" style="font-family: 'Playfair Display', serif;"><span style="color: fuchsia;">Play <span style="color:purple;">Contests</span> <span style="color: indigo;">to get</span> <span style="color:navy;">Offers</span></h1>
                                                
                                                <div class="container homeNav"><br>
                                                      <!-- Nav tabs -->
                                                      <ul class="nav nav-tabs nav-justified sticky-top" role="tablist">
                                                        <li class="nav-item">
                                                          <a class="nav-link active" data-toggle="tab" href="#live">Live 
                                                                (<%= liveEventList.length %>)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                          <a class="nav-link" data-toggle="tab" href="#upcoming">Upcoming (<%= upcomingList.length %>)</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                  <a class="nav-link" data-toggle="tab" href="#archive">Past 
                                                                        (<%= archiveList.length %>)</a>
                                                                </li>
                                                      </ul>
                                                    
                                                      <!-- Tab panes -->
                                                      <div class="tab-content">
                                                        <div id="live" class="container tab-pane fade show active"><br>
                                                            <% for(var i in liveEventList) { %>
                                                                  <div class="row event-list-item">
                                                                              <div class="col-md-3">
                                                                                          <% if(liveEventList[i].event_type_id === 1) { %>
                                                                                                <a href="/app/<%= liveEventList[i].slug %>/contest/<%= liveEventList[i].id %>">
                                                                                           <% } else if (liveEventList[i].event_type_id === 6) { %>
                                                                                                <a href="/app/<%= liveEventList[i].slug %>/spinwheel/<%= liveEventList[i].id %>">
                                                                                            <% } %>
                                                                                    <img src="../static/images/Discount-Coupon.jpg" width="100%">
                                                                             
                                                                              </div>
                                                                                    <div class="col-md-3">
                                                                                                <h3 ><%= liveEventList[i].title %></h3></a>
                                                                                                <% if(liveEventList[i].event_type_id === 1) { %>
                                                                                                      <div class="practiceButtonp"><small>Photo Contest</small></div>
                                                                                                      <!-- <a href="/app/<%= liveEventList[i].slug %>/contest/<%= liveEventList[i].id %>"> -->
                                                                                                 <% } else if (liveEventList[i].event_type_id === 6) { %>
                                                                                                      <div class="practiceButtons"><small>Spinwheel</small></div>
                                                                                                      <!-- <a href="/app/<%= liveEventList[i].slug %>/spinwheel/<%= liveEventList[i].id %>"> -->
                                                                                                  <% } %>
                                                                                                 
                                                                                    </div>
                                                                                    <div class="col-md-3 text-center">
                                                                                                <span style="font-size: 12px">Sponsored By</span>
                                                                                                 <h4><a  href="/app/dashboard/<%= liveEventList[i].vendor_id %>">
                                                                                                      <%= liveEventList[i].name %></a></h4>
                                                                                                <h5><i class="far fa-money-bill-alt"></i>
                                                                                                      <b><%= liveEventList[i].total_prizes %></b></h5>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                                <center><b><i class="far fa-clock"></i> <%= (liveEventList[i].datediff)+' day(s) left' %></b></center><br><br>
                                                                                                <% if(liveEventList[i].event_type_id === 1) { %>
                                                                                                      <a href="/app/<%= liveEventList[i].slug %>/contest/<%= liveEventList[i].id %>">
                                                                                                 <% } else if (liveEventList[i].event_type_id === 6) { %>
                                                                                                      <a href="/app/<%= liveEventList[i].slug %>/spinwheel/<%= liveEventList[i].id %>">
                                                                                                  <% } %>
                                                                                                <button class="btn btn-block">Play Now</button></a>
                                                                                    </div>
                                                                  </div>
                                                                  <hr>
                                                            <% } %>
                                                            <p class="lead">No More Live Contests.</p>
                                                        </div>
                                                        <div id="upcoming" class="container tab-pane fade"><br>
                                                            <% for(var i in upcomingList) { %>
                                                                  <div class="row event-list-item">
                                                                              <div class="col-md-3">
                                                                                          <% if(upcomingList[i].event_type_id === 1) { %>
                                                                                                <a href="/app/<%= upcomingList[i].slug %>/contest/<%= upcomingList[i].id %>">
                                                                                           <% } else if (upcomingList[i].event_type_id === 6) { %>
                                                                                                <a href="/app/<%= upcomingList[i].slug %>/spinwheel/<%= upcomingList[i].id %>">
                                                                                            <% } %>
                                                                                    <img src="../static/images/Discount-Coupon.jpg" width="100%">
                                                                             
                                                                              </div>
                                                                                    <div class="col-md-3">
                                                                                                <h3><%= upcomingList[i].title %></h3></a>
                                                                                                <% if(upcomingList[i].event_type_id === 1) { %>
                                                                                                      <div class="practiceButtonp"><small>Photo Contest</small></div>
                                                                                                      <a href="/app/<%= upcomingList[i].slug %>/contest/<%= upcomingList[i].id %>">
                                                                                                 <% } else if (upcomingList[i].event_type_id === 6) { %>
                                                                                                      <div class="practiceButtons"><small>Spinwheel</small></div>
                                                                                                      <a href="/app/<%= upcomingList[i].slug %>/spinwheel/<%= upcomingList[i].id %>">
                                                                                                  <% } %>
                                                                                                  
                                                                                    </div>
                                                                                    <div class="col-md-3 text-center">
                                                                                          <span style="font-size: 12px">Sponsored By</span> <h4><a  href="/app/dashboard/<%= upcomingList[i].vendor_id %>">
                                                                                                      <%= upcomingList[i].name %></a></h4>
                                                                                                <h5><i class="far fa-money-bill-alt"></i>
                                                                                                      <b><%= upcomingList[i].total_prizes %></b></h5>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                                <center><b><i class="far fa-clock"></i> <%= (upcomingList[i].datediff)+' day(s) to start' %></b></center><br><br>
                                                                                                <button class="btn btn-block">Not Started Yet</button>
                                                                                    </div>
                                                                  </div>
                                                                  <hr>
                                                            <% } %>
                                                            <p class="lead">No More Upcoming Contests.</p>
                                                      </div>
                                                      <div id="archive" class="container tab-pane fade"><br>
                                                            <% for(var i in archiveList) { %>
                                                                  <div class="row event-list-item">
                                                                              <div class="col-md-3">
                                                                                          <% if(archiveList[i].event_type_id === 1) { %>
                                                                                                <a href="/app/<%= archiveList[i].slug %>/contest/<%= archiveList[i].id %>">
                                                                                           <% } else if (archiveList[i].event_type_id === 6) { %>
                                                                                                <a href="/app/<%= archiveList[i].slug %>/spinwheel/<%= archiveList[i].id %>">
                                                                                            <% } %>
                                                                                     <img src="../static/images/Discount-Coupon.jpg" width="100%">
                                                                             
                                                                              </div>
                                                                                    <div class="col-md-3 text-center">
                                                                                                <h3><%= archiveList[i].title %></h3>
                                                                                                <% if(archiveList[i].event_type_id === 1) { %>
                                                                                                      <div class="practiceButtonp"><small>Photo Contest</small></div>
                                                                                                      <a href="/app/<%= archiveList[i].slug %>/contest/<%= archiveList[i].id %>">
                                                                                                 <% } else if (archiveList[i].event_type_id === 6) { %>
                                                                                                      <div class="practiceButtons"><small>Spinwheel</small></div>
                                                                                                      <a href="/app/<%= archiveList[i].slug %>/spinwheel/<%= archiveList[i].id %>">
                                                                                                  <% } %>
                                                                                                  
                                                                                    </div>
                                                                                    <div class="col-md-3 text-center">
                                                                                          <span style="font-size: 12px">Sponsored By</span> <h4><a  href="/app/dashboard/<%= archiveList[i].vendor_id %>">
                                                                                                      <%= archiveList[i].name %></a></h4>
                                                                                                <h5><i class="far fa-money-bill-alt"></i>
                                                                                                      <b><%= archiveList[i].total_prizes %></b></h5>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                                <b><%=utils.formatDate(archiveList[i].start_date) %></b> to <b><%=utils.formatDate(archiveList[i].end_date) %></b><br><br>
                                                                                                <button class="btn btn-block">Ended</button>
                                                                                    </div>
                                                                  </div>
                                                                  <hr>
                                                            <% } %>
                                                            <p class="lead">No More Ended Contests.</p>
                                                      </div>
                                                    </div>
                                          </div>
                                          <br><br><br><br>
                                    </div>
                  </div>
                  <div class="row">              
                              <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                        <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                                                        <% var j=0; %>
                                                        <% for(var i in winnerList) { %>
                                                        <li data-target="#testimonialCarousel" data-slide-to="<%= j %>"></li>
                                                        <% j++; %>
                                                        <% } %>
                                                    </ol>
                                                    <div class="carousel-inner" role="listbox">
                                                        <div class="carousel-item active">
                                                            <div class="row">
                                                                <div class="col" style="text-shadow: #e60a6f 0px 0px 20px; padding-left: 50%;">
                                                                   <br><br><br><br><h1>Contest Winners</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% for(var i in winnerList) { %>
                                                        <div class="carousel-item">
                                                            <div class="row" style="padding-top: 120px;">
                                                                <div class="col-md-4 col-sm-4 col-xs-12 ml-auto text-center">
                                                                    <img src="/static/uploads/<%= winnerList[i].img %>" alt="user" width="50%" class="img-circle ml-auto">
                                                                </div>
                                                                <div class="col-md-7 col-sm-7 col-xs-12 mr-auto text-center text-capitalize">
                                                                    <center><a href="/app/profile/<%= winnerList[i].Id %>" style="color: aliceblue;">
                                                                        <h1><%= winnerList[i].name %></h1></a>
                                                                    <h3>Participated in: <b><%= winnerList[i].title %></b></h3>
                                                                    <h2><b>Score :</b> <%= winnerList[i].points %></h2></center>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                      
                                                    </div>
                                                    <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                        </div>
                                        </div>
                                        <% include footer.html %>
      </div>
</div>
    <% include commonFooterScriptElements.html %>
 
  </body>
</html>