<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="ltr">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <title>Create a photo contest - Promozonic</title>
      <style>
        .wrapper {
          background: linear-gradient(to bottom right, indigo, violet);
        }
      </style>
  </head>

  <body>
      <% include header.html %>
            <div class="wrapper">
<br><br><br><br>
                  <div class="container text-light">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <h1 class="display-4">Photo Contest</h1>
                        <br><br>
                        <img src="/static/images/photo_contest_back.jpg" alt="Photo Contest" class="img-thumbnail">
                        <br><br>
                        <p class="lead">
                          Please Enter the details to create a Photo Contest.
                        </p>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 jumbotron text-dark">
                          <form action="/app/newContest/photo" method="post">
                            <input type="number" value="<%= vendor_id %>" name="vendor_id" readonly hidden/>
                            <input type="number" value="<%= event_type_id %>" name="event_type_id" readonly hidden/>
                              
                              <div class="form-group">
                                <label for="photo-title">Contest Title</label>
                                <input type="text" class="form-control" id="photo-title" placeholder="Enter Contest Name" name="title" required>
                              </div>
                              <div class="form-group">
                                <label for="photo-description">Description</label>
                                <textarea class="form-control" rows="5" id="photo-description" placeholder="Describe the theme of your Contest" name="description"></textarea>
                              </div>
                              <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="photo-start-date">Starting Date</label>
                                    <input type="date" class="form-control" id="photo-start-date" name="start_date" placeholder="Select Date" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="photo-end-date">Ending Date</label>
                                    <input type="date" class="form-control" id="photo-end-date" name="end_date" placeholder="Select Date" required>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label for="photo-prize-description">Prize Description</label>
                                    <textarea class="form-control" rows="3" id="photo-prize-description" placeholder="Describe the prizes" name="prize_description"></textarea>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="photo-total-prize">Total Prize Money</label>
                                        <input type="number" class="form-control" id="photo-total-prize" name="total_prizes" placeholder="In Rupees" required>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="photo-prize-validity">Prizes Vaild Till</label>
                                        <input type="date" class="form-control" id="photo-prize-validity" name="prize_validity" placeholder="Select Date">
                                      </div>
                                    </div>
                              <div class="form-group">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="photo-check" name="moderator_required" checked hidden>
                                  <!-- <label class="form-check-label" for="photo-check">
                                    Moderator Required
                                  </label> -->
                                </div>
                              </div>
                              <button type="submit" class="btn btn-light">Add Contest</button>
                            </form><br><br>
                      </div>
                    </div>
    </div>
    <% include footer.html %>
            </div>
            <% include commonFooterScriptElements.html %>
  </body>
</html>
