<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
      <title><%= userDetails.first_name %> <%= userDetails.last_name %> | Promozonic</title>
      <style>
            .bg {
            background-color: black;
            z-index: -1;
            opacity: 0.8;
            position: fixed;
            width: 100%;
            height: 100%;
        }
        body {
              background: url('/static/uploads/<%= userDetails.img %>') no-repeat center fixed;
                  background-size: cover;
        }
        .container-fluid {
                  padding: 40px 10%;
                  color: white;
            }
            .userImg {
                  width: 100%;
                  box-shadow: white 0px 0px 10px;
            }
            .img-rounded {
                  border-radius: 10%;
            }
            .display-4, .lead, table {
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            #historyTitle {
                  font-size: 56px;
            }
            @media screen and (max-width:768px) {
                  #historyTitle {
                        font-size: 36px;
                  }
            }
      </style>
</head>
<body class="header-fixed header-fixed-space">

      <div class="bg"></div>
      <% include header.html %>
      <div class="wrapper">
          <div class="container-fluid">
                <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="row">
                                  <div class="">
                                        <img src="/static/uploads/<%= userDetails.img %>" alt="User image" class="userImg img-rounded" data-toggle="modal" data-target="#uploadPhoto">
                                  </div>
                            </div>
                            <br>
                            <div class="row">
                                    <span class="text-warning display-4 text-capitalize"><%= userDetails.first_name %> <%= userDetails.last_name %></span>
                                    <br><span class="lead"><%= userDetails.email %></span>
                            </div>
                            <% if (showFullDetails === true) { %>
                              <div class="row">
                                    <div class="container-fluid">
                                          <table class="table">
                                                <tbody>
                                                      <tr><th scope="row">DOB:</th><td><%= utils.formatDate(userDetails.dob) %></td></tr>
                                                      <tr><th scope="row">Mobile:</th><td><%= userDetails.mobile_no %></td></tr>
                                                      <tr><th scope="row">Address:</th>
                                                              <%= userDetails.locality %>,<br>
                                                              <%= userDetails.city %>, <%= userDetails.state %><br>
                                                </tbody>
                                          </table>
                                    </div>
                              </div>
                              <% } %>
                      </div>
                      <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="container-fluid">
                                    <div class="row">
                                          <span id="historyTitle">Participation History</span>
                                    </div>
                                    <hr>
                                    <div class="row">
                                         <p class="lead">
                                                <% if(eventList.length !== 0) { %>
                                                      Total No. of Contests:
                                                      <%= eventList.length %>
                                                      <% } else { %>
                                                            There are no contests yet.
                                                            <% } %>
                                         </p>
                                    </div>
                                    <div class="row">
                                          <% for(var i=0;i<eventList.length;i++){ %>
                                                <div class="container" style="padding: 10px;">
                                                <% if(eventList[i].event_type_id===1) { %>
                                                      <a href="/app/<%= eventList[i].slug %>/contest/<%= eventList[i].id %>" class="btn btn-outline-warning btn-block">
                                                      <%= eventList[i].title %></a>
                                                <% } else if(eventList[i].event_type_id===6) { %>
                                                      <a href="/app/<%= eventList[i].slug %>/spinwheel/<%= eventList[i].id %>" class="btn btn-outline-warning btn-block">
                                                      <%= eventList[i].title %></a>
                                                <% } %>
                                                </div>
                                          <% } %>
                                    </div>
                            </div>
                      </div>
                </div>
          </div>
          <% include footer.html %>
      </div>
      <% if (showFullDetails === true) { %>
      <!-- Upload Photo -->
<div class="modal fade" id="uploadPhoto" tabindex="-1" role="dialog" aria-labelledby="uploadPhotoButton" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modelTitleId">Change Profile Picture</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/static/uploads/<%= userDetails.img %>" width="100%">
                    </div>
                    <div class="modal-footer">
                        <form action="/app/profile/upload" method="POST" enctype="multipart/form-data">
                            <div class="form-group text-danger">
                                <input type="number" name="id" value="<%= userDetails.id %>" id="userId" readonly hidden>
                                <input type="file" name="image" id="userImg">
                        <button type="submit" class="btn btn-primary float-right">UPLOAD</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <% include commonFooterScriptElements.html %>
</body>
</html>