<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:By="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <title><%= userDetails.first_name %> <%= userDetails.last_name %> - Promozonic</title>
    <style>
        .bg {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 540px;
            background: url('/static/images/p1.jpg') no-repeat center;
            background-size: cover;
            filter: brightness(40%);
        }
        .contents {
            max-width: 1080px;
        }
        .card-top {
            color: white;
            padding: 20px;
        }
        .card {
            box-shadow: grey 1px 1px 5px;
            height: 200px;
            padding: 10px;
            align-items: center;
            padding-top: 60px;
            font-size: 24px;
            margin-bottom: 30px;
        }

        .show-btn {
            text-align: right;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .fa {
            display: block;
            width: 40px;
            text-align: center;
        }
        #top-btn .fa {
            width: 20px;
        }
        @media screen and (max-width:768px) {
                  .bg {
                        height: 860px;
                  }
                  .show-btn {
                        text-align: center !important;
                  }
                  #top-btn {
                        display: none;
                  }
            }
    </style>
</head>

<body>
<% include header.html %>
<div class="bg"></div>
<div class="wrapper">

    <div class="container-fluid contents">
        <br><br><br><br>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12"><br>
                <img src="/static/uploads/<%= userDetails.img %>" alt="Shop Image" class="img-thumbnail" data-toggle="modal" data-target="#uploadPhoto">
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="card-top mx-auto">
                    <h3 class="text-capitalize display-2">
                        <%= userDetails.first_name %> <%= userDetails.last_name %>
                    </h3>
                    <% if (showFullDetails === true) { %>
                    <h3>
                        <br>
                    <i class="fa fa-envelope"></i> <%= userDetails.email %><br>
                    <i class="fa fa-mobile"></i> <%= userDetails.mobile_no %><br>
                    <i class="fa fa-address-card"></i> <em>
                    <%= userDetails.locality %>,<%= userDetails.city %>(<%= userDetails.state %>)
                    </em></h3>
                    <% } else { %>
                    <br><br><br><br>
                    <h3><i class="fa fa-envelope"></i> <%= userDetails.email %></h3>
                    <% } %>
                    <br>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid "style="margin-top: 100px">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <span class="text-center display-4 lead">ALL PARTICIPATION</span><br>
                        <p class="lead">
                            <% if(eventList.length !== 0) { %>
                            Total No. of Participation:
                            <%= eventList.length %>
                            <% } else { %>
                            There is no participation yet.
                            <% } %>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <% if(showFullDetails === true) { %>

                    <% for(var i=0;i< eventList.length;i++){ %>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <%= eventList[i].title %>
                                    <% if ((eventList[i].start_date <= Date.now()) && (eventList[i].end_date > Date.now())) { %>
                                    <span class="text-danger">
                                        <em>
                                            <strong>LIVE</strong>
                                        </em>
                                    </span>
                                    <% }%>
                                </div>
                    </div>
                    <% } }%>
                </div>
                <br>
            </div>
    <br><br>
        </div>
</div><% include footer.html %>
<% if (showFullDetails === true) { %>
<!-- All Modals -->
<!-- Upload Photo -->
<div class="modal fade" id="uploadPhoto" tabindex="-1" role="dialog" aria-labelledby="uploadPhotoButton" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Change Photo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="/static/uploads/<%= userDetails.img %>" width="100%">
            </div>
            <div class="modal-footer">
                <form action="/app/profile/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group text-danger">
                        <input type="number" name="id" value="<%= userDetails.id %>" id="userId" readonly hidden>
                        <input type="file" name="image" id="userImg">
                        <button type="submit" class="btn btn-primary float-right">UPLOAD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% } %>

<% include commonFooterScriptElements.html %>

</body>

</html>