<!DOCTYPE html>
<html>
<body>
<h1>Register Your Shop</h1>
<p>Please fill in this form to register your shop with us.</p>
<hr>
<form action="/app/registerShop" method="post" enctype="multipart/form-data">
  </b><input type="text" value="<%= user_id %>" name="user_id" hidden><br/>
  <b>Shop Name:</b><input type="text" placeholder="Enter shop name" name="name" required><br/>
  <b>GSTN:</b><input type="text" placeholder="Enter GSTN" name="gstn" required><br/>
  <b>Shop No:</b><input type="text" placeholder="Enter Shop No" name="shopNo" ><br/>
  <b>Street No:</b><input type="text" placeholder="Enter Street No" name="street" ><br/>
  <b>locality:</b><input type="text" placeholder="Enter locality No" name="locality" required><br/>
  <b>City:</b><input type="text" placeholder="Enter city" name="city" required><br/>
  <b>State:</b><input type="text" placeholder="Enter State" name="state" required><br/>

  <b>Business Type:</b><br/>
  <input type="radio"  name="firm_domain" value="garments" required>Garments:<br/>
  <input type="radio"  name="firm_domain" value="electronics" required>Electronics:<br/>
  <input type="radio"  name="firm_domain" value="cosmetics" required>Cosmetics:<br/>
  <input type="radio"  name="firm_domain" value="movies" required>Movies:<br/>
  <input type="radio"  name="firm_domain" value="groceries" required>Groceries:<br/>
  <input type="radio"  name="firm_domain" value="other" required>Other:<br/>
  <b>Picture</b><input type="file" name="userUploadedFile" >
  <input type='submit' value="submit">
</form>

</body>
</html>
