<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="ltr">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <title>Create a spinwheel - Promozonic</title>
      <style>
          .wrapper {
            background: linear-gradient(to bottom right, indigo, violet);
          }
      </style>
  </head>

  <body>
      <% include header.html %>
            <div class="wrapper">
<br><br><br><br>
    <div class="container text-light">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
              <h1 class="display-4">Spinwheel</h1>
              <br><br>
              <img src="/static/images/wheel_back.jpg" alt="Spinwheel" class="img-thumbnail">
              <br><br>
              <p class="lead">
                Please Enter the details to create a Spinwheel Contest.
              </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 jumbotron text-dark">
                <form action="/app/newContest/spinwheel" method="post">
                  <input type="number" value="<%= vendor_id %>" name="vendor_id" readonly hidden/>
                  <input type="number" value="<%= event_type_id %>" name="event_type_id" readonly hidden/>
                    
                    <div class="form-group">
                      <label for="spinwheel-title">Contest Title</label>
                      <input type="text" class="form-control" id="spinwheel-title" placeholder="Enter Contest Name" name="title" required>
                    </div>
                    <div class="form-group">
                      <label for="spinwheel-description">Description</label>
                      <textarea class="form-control" rows="5" id="spinwheel-description" placeholder="Describe the theme of your Contest" name="description"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="spinwheel-start-date">Starting Date</label>
                          <input type="date" class="form-control" id="spinwheel-start-date" name="start_date" placeholder="Select Date" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="spinwheel-end-date">Ending Date</label>
                          <input type="date" class="form-control" id="spinwheel-end-date" name="end_date" placeholder="Select Date" required>
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="sec">Number of Sectors</label>
                          <input type="number" class="form-control" id="sec" name="sectors" placeholder="Enter No.">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="spinwheel-total-prize">Total Prize Money</label>
                              <input type="number" class="form-control" id="spinwheel-total-prize" name="total_prizes" placeholder="In Rupees" required>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="spinwheel-prize-validity">Prizes Vaild Till</label>
                              <input type="date" class="form-control" id="spinwheel-prize-validity" name="prize_validity" placeholder="Select Date">
                            </div>
                          </div>
                    <button type="submit" class="btn btn-light">Add Contest</button>
                  </form><br><br>
            </div>
          </div>
    </div>
    <% include footer.html %>
  </div>
  <% include commonFooterScriptElements.html %>

    <script>
        $('#sec').on("keyup",function(){
        $('.sec_data').remove();
        $('.sec_br').remove();
        $('.span_no').remove();
          var total_sector=$(this).val();
          var s="";
          for(var i=0;i<total_sector;i++){
            s='<br class="sec_br"/><br class="sec_br"/><span class="span_no">Sector '+(total_sector-i)+'</span> <input type="text" size=50 name="offer" class="sec_data"/>';
            $(this).after(s);
          }
        })
    </script>
  </body>
</html>