<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <title><%= contestDetails[0].title %> - Spinwheel - Promozonic</title>

    <style>
        @media screen and (max-width:550px) {
            #chart {
                width: 400px;
                height: 400px;
            }
        }
        .landing-image{
            background-size: cover;
            background-position: 0% 2%; 
            background-repeat: no-repeat;
            height: 500px;
            color: rgb(248, 107, 42);
            background-image: url(/static/images/wheel_back.jpg);
            object-fit: cover;
        }
        .bg{
          background-color: black;
          z-index: -1;
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
        .bg-blur {
            /* background-color: rgba(189, 247, 160, 0.652); */
            z-index: -1;
            filter: blur(10px);
            width: 100%;
            height:900px;
            position: absolute;
        }
        .bl-color{  
                    background-color:blanchedalmond;
                    color: indigo;
                    font-family:sans-serif;
        }
        .text-centre{
          text-align: center;
          color: white;
        }
        .presents {
          display: block;
          color: rgb(248, 107, 42);
          font-weight: bold;

          font-size: 18px;
        }
        h1{
          /* color: #fff; */
          padding-top: 2%;
        }
        .fa-check{
          color: #e60a6f;
        }
       
        .sponsor-name{
          font-family: 'Rakkas', 'cursive';
          text-align: center;
          margin-left: 10%;
        }
        .info{
          margin-right: 15%;
          text-align: center;
        }
        text{
        font-family:Helvetica, Arial, sans-serif;
        font-size:17px;
        pointer-events:none;
    }
    body{
        font-family: 'Rakkas','cursive';
    }
    #chart{
        position:absolute;
        width:auto;
        height:auto;
        top:40;
        left:10px;
    }
    #question{
        position: absolute;
        width:auto;
        height:auto;
        top:70px;
        left:0px;
    }
    #question h1{
        font-size: 50px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        padding: 0;
        margin: 0;
        top:50%;
        -webkit-transform:translate(0,-50%);
                transform:translate(0,-50%);
    }
    @media screen and (max-width:600px) {
        #question h1{
            width: 375px;
        }
        .landing-image h1 {
            font-size: 56px;
        }
    }
     

      
    </style>
  </head>
  <body>

      <% include header.html %>

    <div class="wrapper">
            <div class="landing-image">
                    <div class="bg">
                      <div class="text-centre"><br><br><br><br>
                        <h1 class="display-1 vendor-name"><%= contestDetails[0].name%> </h1>
                        <span class="presents">presents</span>
                        <h2 class="contest-title display-4"><%= contestDetails[0].title%></h2>
                        <h4><%= utils.formatDate(contestDetails[0].start_date) %>  to  <%= utils.formatDate(contestDetails[0].end_date) %> </h4>
                       
                        <h5>Total Prizes: <%= contestDetails[0].total_prizes %></h5>
                        <h6>Offer Valid upto <%= utils.formatDate(contestDetails[0].prize_validity) %></h6>
                      </div>
                    </div>
                  </div>
              <div class="bg-blur"></div>
              
              </br>
              <div class="container">
                  <div class="row">
                    <div class="col">
                    <center> <h3>Rules</h3> </center> 
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item bl-color">
                          <i class="fas fa-check"></i>  <%= contestDetails[0].name %> is solely responsible for setting and communicating the eligibility requirements associated with prizes awarded to participants, as well as for procurement and distribution of all prizes.
                          </li>
                          <li class="list-group-item bl-color">
                          <i class="fas fa-check"></i>   <%= contestDetails[0].name %> holds Promozonic harmless from and against any and all claims, losses, damages, costs, awards, settlements, orders, or fines.
                          </li>
                        </ul>
                    </div>
                    <div class="col" align="center">
                    <h3>Brief</h3> 
                      <ul class="list-group list-group-flush bl-color">
                          <li class="list-group-item bl-color"><%= contestDetails[0].description %></li>
                          <li class="list-group-item bl-color">
                            <strong class="bl-color">Prizes:<br></strong>
                            <%= contestDetails[0].prize_description %>
                          </li>
                          <li class="list-group-item bl-color">Offer Valid Upto <%= utils.formatDate(contestDetails[0].prize_validity) %> </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </br>
              
              <center ><span class="bl-color"><%= participants[0].count %> participants have participated</span></center>
              </br>
                  
                          <% if( contestDetails[0].start_date <= Date.now() && contestDetails[0].end_date > Date.now() ) { %>
                              <% if (showFullDetails === true) { %>
                                  <form action="/app/<%= contestDetails[0].slug %>/closeContest/<%= contestDetails[0].cid %>" method="post">
                                      <center><button type="submit" class="btn btn-danger"  >CLOSE CONTEST</button>
                                  </center></form>
                              </br>
                                  <% } %>
                           <% if(!currentUser ) { %>
                              <center> <button type="button" class="btn btn-light" data-toggle="modal" data-target="#loginModal" >LOGIN TO PARTICIPATE</button></center>
                              <% } else if(hasPlayed.length>0) { %>
                                  <center> <button type="button" class="btn btn-light" disabled>You've already participated</button></center>
                              <% } else { %>
                                 <a href="#chart">  <center><button type="button" class="btn btn-light" id="show-wheel-btn">Participate</button></center></a>
                               <% } %>
                      <% } else if(contestDetails[0].end_date <= Date.now()) { %> 
                          <center> <button type="button" class="btn btn-danger"  disabled>CONTEST ENDED</button></center>
                               <% } else { %>
                                <center> <button type="button" class="btn btn-danger"  disabled>CONTEST NOT YET STARTED</button></center>
                                <% } %>
               <div class="container">
                     <div class="row">
                         <div class="col-sm-6">      
                               <div id="chart" style="display: none; height: 500;"></div>
                          </div>
                      </div>
                          <div class="row">
                              <div class="col-sm-2 mt-5">
                               <div id="question" class="container"  style="height: 300px;margin-left:5; margin-bottom: 10"><h1 style="font-size: 30px; height: auto; width: 650px"></h1></div>
                          </div>
                      </div>
              </div>
                      
                  <% for(var i in spinWheel){ %> 
                      <div class='wheel_data' data="<%=spinWheel[i].sector_data %>" </div>
                            
                       <% } %>
                
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <% include footer.html %>

        <% include commonFooterScriptElements.html %>
    <script src="/static/scripts/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var padding = {top:20, right:40, bottom:0, left:0},
            w = 500 - padding.left - padding.right,
            h = 500 - padding.top  - padding.bottom,
            r = Math.min(w, h)/2,
            rotation = 0,
            oldrotation = 0,
            picked = 100000,
            color = d3.scale.category20();
            var wheel_data=document.querySelectorAll('.wheel_data');
            var data=[];
            wheel_data.forEach(function(item){
                console.log(item);
                var tmp={};
                var tmp1={};
                tmp['label']='Better luck next time';
                data.push(tmp);
                tmp1['label']=item.getAttribute('data');
                data.push(tmp1);
               // console.log(tmp)

            });
            //console.log(data);
        var svg = d3.select('#chart')
            .append("svg")
            .data([data])
            .attr("width",  w + padding.left + padding.right)
            .attr("height", h + padding.top + padding.bottom);
        var container = svg.append("g")
            .attr("class", "chartholder")
            .attr("transform", "translate(" + (w/2 + padding.left) + "," + (h/2 + padding.top) + ")");
        var vis = container
            .append("g");
            
        var pie = d3.layout.pie().sort(null).value(function(d){return 1;});
        // declare an arc generator function
        var arc = d3.svg.arc().outerRadius(r);
        // select paths, use arc generator to draw
        var arcs = vis.selectAll("g.slice")
            .data(pie)
            .enter()
            .append("g")
            .attr("class", "slice");
            
        arcs.append("path")
            .attr("fill", function(d, i){ return color(i); })
            .attr("d", function (d) { return arc(d); });
        // add the text
        arcs.append("text").attr("transform", function(d){
                d.innerRadius = 0;
                d.outerRadius = r;
                d.angle = (d.startAngle + d.endAngle)/2;
                return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius -10) +")";
            })
            .attr("text-anchor", "end")
            .text( function(d, i) {
                return data[i].label;
            });
        container.on("click", spin);
        function spin(d){
            
            container.on("click", null);
            var  ps       = 360/data.length,
                 pieslice = Math.round(1440/data.length),
                 rng      = Math.floor((Math.random() * 1440) + 360);
                
            rotation = (Math.round(rng / ps) * ps);
            
            picked = Math.round(data.length - (rotation % 360)/ps);
            picked = picked >= data.length ? (picked % data.length) : picked;
            rotation += 90 - Math.round(ps/2);
            vis.transition()
                .duration(3000)
                .attrTween("transform", rotTween)
                .each("end", function(){
                    //populate question
                    d3.select("#question h1")
                        .text(data[picked].label);
                    oldrotation = rotation;
                    
                    setTimeout(function(){$('.wheel').hide();},1000);
                    container.on("click", spin);
                });
        }
        //make arrow
        svg.append("g")
            .attr("transform", "translate(" + (w + padding.left + padding.right) + "," + ((h/2)+padding.top) + ")")
            .append("path")
            .attr("d", "M-" + (r*.25) + ",0L0," + (r*.05) + "L0,-" + (r*.05) + "Z")
            .style({"fill":"dark-violet"})
        //draw spin circle
        container.append("circle")
            .attr("cx", 0)
            .attr("cy", 0)
            .attr("r", 60)
            .style({"fill":"white","cursor":"pointer"});
        //spin text
        container.append("text")
            .attr("x", 0)
            .attr("y", 13)
            .attr("text-anchor", "middle")
            .text("Spin")
            .style({"font-weight":"bold","font-size":"30px"});
        
        
        function rotTween(to) {
          var i = d3.interpolate(oldrotation % 360, rotation);
          return function(t) {
            return "rotate(" + i(t) + ")";
          };


        }
    </script>
<% if(currentUser) { %>
    <div class="uid" uid="<%= currentUser.id %>"</div>
    <div class="eid" eid="<%= contestDetails[0].cid %>"</div>
    <div class="vid" vid="<%= contestDetails[0].id %>"</div>
    <div class="email" email="<%= currentUser.email %>"</div></div>
<% } %>
 <script>
    $('#show-wheel-btn').click(function(){
        $('#chart').show();
    });

   $("#chart").one('click',function(){
       console.log("event triggered");

       setTimeout(function(){
     $("#chart").remove();
        
        
        var swdata={
           "uid": $('.uid').attr('uid'),
           "eid": $('.eid').attr('eid'),
           "vid": $('.vid').attr('vid'),
           "email": $('.email').attr('email'),
           "sector_data": $('#question h1').text()
       };
       console.log(swdata.email);
       if(swdata.sector_data !== 'Better luck next time'){
            const coupon = (new Date()).getUTCMinutes() + swdata.uid +'-'+ swdata.eid + swdata.sector_data.slice(0,2) +'-'+ swdata.vid + (new Date()).getUTCHours();
            swdata["coupon"]=coupon;
            console.log(coupon.length);
            if(coupon.length<15)
            {
           $('#question h1').css({  "background-color":"blanchedalmond",
                                    "color":"green",
                                    "font-family":"monospace",
                                    "padding":"50px"});
        //    $('#question h1').text('Your Coupon Code: '+coupon);
           $('#question h1').append('</br></br><small> > You <em><strong>('+swdata.email+')</strong></em> have won <em><strong>'+swdata.sector_data+'</strong></em></small></br><small>> <em><strong>Check your E-mail for Promo-Code</strong></em> </br>>  To redeem this coupon go to<em><strong> <%=contestDetails[0].name %></strong></em></br>>  Coupon code will disappears after you leave this page</small>');
            }
            
        }
        //    else
        //         var coupon = null;
        console.log(swdata);
        
        
        $.ajax({
            method:"POST",
            url:"/app/ /spinwheel/"+swdata.eid,
            data:swdata,
            success:function(){
                
              
            }
           });
           return false;
       },3050);
   }
)
      
</script>

</body>
</html>